body{
    font-family: 'Nunito', sans-serif;
    color: #000080;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 50vh;
    width: 100%;
	background-image: url("../sunrise.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#photo{
    font-family: sans-serif;
    font-size: x-small;
    padding-left: 10px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
    }

.nav-links ul li:hover::after{
    width: 100%;
}

/*@media*/
@media(max-width:700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        width: 200px;
        position: absolute;
        height: 50vh;
        top: 0;
        right: 2px;
        text-align: left;
        z-index: 2;
    }
}

h1 {
    text-align: center;
    margin-left: 10px;
}

p {
    font-size: 20px;
  }

.author {
      font-size: smaller;
      text-align: center;
    }

